<html ng-app="psMovies">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<title></title>
</head>
<body ng-cloak>
<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
<div class="container-fluid">
	<div class="navbar-header">
	<a class="navbar-brand" href="#">At the Movies</a>
	</div>
</div>
</nav>

<div class="container">
	<h3>Hello!</h3>
</div>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/psmovies.js"></script>
</body>
</html>